*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
body{
    background-color: #F3F5FC;
}
.display-flex{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 48px;
   
}
.nav-link{
    text-decoration: none;
    
   
}
.shop-about-color{
   font-weight: 400px;
   font-size: 1 rem;
   color: rgb(137, 135, 161);;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.cart{
    display: flex;
    gap: 10px;
    
}
.home-color{
    font-weight: 700;
    font-size: 1 rem;
    color: rgb(37, 36, 50);
 
}
.cart-color{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
}
.banner {
  align-items: center;
  margin-top: 120px;
}
.banner-text{
    height: 300px;
    width: 570px;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #000000;
}
.fresh {
  color: #e95a08;
}
.banner-para {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}
.banner-img img{
    width: 100%;
}
/* plant section */
.plant-section{
  margin-bottom: 210px;
}
.plant-text {
  margin-top: 120px;
  margin-bottom: 49px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.plant-text h1 {
  font-family: "Noto Serif", serif;
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.plant-text p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  width: 77%;
  height: 53px;
}
.container-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
.card {
  text-align: center;
}
.card button {
  background-color: rgb(233, 90, 8);
  color: white;
  border: none;
  padding: 26px 50px 26px 50px;
  width: 100%;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.card button:hover {
  background-color: #d35400;
}
.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 30px 69px 20px 69px;
}

.card p {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 30px;
}
/* flower plant section */
.flower-plant-section {
  gap: 60px;
  margin-bottom: 130px;
}

.flower-plant-section-title {
  font-family: "Noto Serif", serif;
  color: rgb(0, 0, 0);
  font-size: 3.125rem;
  font-weight: 700;
  margin-top: 38px;
}
.flower-plant-section-list {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 27px;
}
.flower-plant-section-list li {
  margin: 20px 0px;
}
.flower-plant-img {
  position: relative;
}
.trusted-badge {
  position: absolute;
  top: -110px;
  left: 350px;
  width: 286px;
  height: 286px;
}
/* Latest Deal Section styles */

.latest-deal-section {
  text-align: center;
  margin-bottom: 120px;
}
.latest-deal-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latest-deal-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}
.latest-deal-p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  width: 77%;
  margin-bottom: 120px;
}
.discount-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.left-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.left-box1 {
  background-image: url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.box {
  background: rgba(0, 0, 0, 0.4);
  height: 206px;
  border-radius: 15px;
  position: relative;
}
.left-box2 {
  background-image: url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.right-box-container {
  background-image: url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.text {
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text h3 {
  margin-bottom: 19px;
}
.text a {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.right-box {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  position: relative;
  height: 100%;
}
.right-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.right-box-content h2 {
  font-family: "Noto Serif", serif;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 19px;
}
.right-box-content a {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 19px;
  text-decoration: underline;
}
/* Join Section Styles */
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  height: 533px;
  margin: auto;
  text-align: center;
  padding: 195px 305px;
  margin-bottom: 50px;
}
.input-button-parent {
  display: flex;
  justify-content: center;
}
.join-section h1 {
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 23px;
}
.input-button-parent input {
  padding: 8px 20px 8px 20px;
  width: 644px;
  height: 50px;
  border: none;
}
.input-button-parent input::placeholder {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.input-button-parent input:focus {
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.input-button-parent button {
  background: rgb(233, 90, 8);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  width: 186px;
  height: 50px;
}
 .join-section h1 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 27px;
  }
  .Footer-Section {
  display: flex;
  gap: 110px;

  margin-bottom: 50px;
}
/* Footer Section style */

.footer-logo {
  width: 350px;
}
.footer-logo p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  margin-top: 16px;
}
.footer-all-link-parent {
  display: flex;
  gap: 110px;
  text-decoration: none;
}
.footer-all-link-parent a {
  color: rgb(107, 114, 128);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.home-part {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.features-part {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-icon {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}
.icon-twitter {
  padding-top: 10px;
}



@media screen and (max-width:576px) {
     .nav-links{
        display: none;
     }
     .container{
        max-width: 100%;
        margin: 0;
     }
     .banner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: left;
    margin-top: 60px; 
  }
  .banner-text {
    width: 100%;
    height: auto;
    margin-top: 28px;
    padding: 0px 16px 0px 16px;
  }
  .banner-title {
    font-size: 28px;
    width: 65%;
  }
  .banner-para {
    font-size: 16px;
  }
   .plant-text p {
    width: 100%;
  }
  .plant-text {
    margin-top: 65px;
    margin-bottom: 50px;
    padding-bottom: 80px;
  }
  .container-card {
    grid-template-columns: repeat(2, calc((100% - 20px) / 2));
    gap: 20px;
    padding-left: 10px;
  }
  .card h3 {
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
  }
  .card button {
    padding: 15px 0px;
  } 
  .flower-plant-section {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }
  .flower-store {
    width: 100%;
  }
  .flower-plant-section-title {
    margin-top: 18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
  }
  .flower-plant-section-list li {
    margin: 16px 0px;
  }
  .flower-plant-section-list {
    font-size: 0.875rem;
    line-height: 17px;
  }
  .trusted-badge {
    display: none;
  }
   .discount-container {
    grid-template-columns: 1fr;
    gap: 20px;

    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
  .discount-container {
    grid-template-columns: 1fr;
    height: 670px;
  }
  .left-grid {
    grid-template-rows: none;
    grid-template-columns: 1fr;
  }
  .right-box-container,
  .left-box1,
  .left-box2 {
    height: 206px;
    border-radius: 15px;
    margin: 0px 16px 0px 16px;
  }
  .discount-container h2,
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
  .discount-container a {
    font-size: 16px;
    font-weight: 600;
  }
  .latest-deal-section {
    margin-bottom: 40px;
  }
   .input-button-parent button {
    width: 103px;
  }
  .input-button-parent input {
    width: 218px;
  }
  .join-section {
    height: 275px;
    margin: auto;
    padding: 110px 35px 64px 35px;
    margin-bottom: 50px;
  }
  .join-section h1 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 27px;
  }
  .Footer-Section {
    flex-direction: column;
    margin: 0px 16px 0px 16px;
    gap: 20px;
    margin-bottom: 20px;
  }
  .footer-all-link-parent {
    flex-direction: column;
    gap: 20px;
  }
  .footer-icon {
    margin-left: 0px;
  }
}

  

    
     
  

    
    