*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
body{
    background-color: #F3F5FC;
}
.display-flex{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 48px;
   
}
.nav-link{
    text-decoration: none;
    
   
}
.shop-about-color{
   font-weight: 400px;
   font-size: 1 rem;
   color: rgb(137, 135, 161);;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.cart{
    display: flex;
    gap: 10px;
    
}
.home-color{
    font-weight: 700;
    font-size: 1 rem;
    color: rgb(37, 36, 50);
 
}
.cart-color{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
}
.banner {
  align-items: center;
  margin-top: 120px;
}
.banner-text{
    height: 300px;
    width: 570px;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #000000;
}
.fresh {
  color: #e95a08;
}
.banner-para {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}
.banner-img img{
    width: 100%;
}
/* plant section */
.plant-section{
  margin-bottom: 210px;
}
.plant-text {
  margin-top: 120px;
  margin-bottom: 49px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.plant-text h1 {
  font-family: "Noto Serif", serif;
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.plant-text p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  width: 77%;
  height: 53px;
}
.container-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
.card {
  text-align: center;
}
.card button {
  background-color: rgb(233, 90, 8);
  color: white;
  border: none;
  padding: 26px 50px 26px 50px;
  width: 100%;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.card button:hover {
  background-color: #d35400;
}
.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 30px 69px 20px 69px;
}

.card p {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 30px;
}
/* flower plant section */
.flower-plant-section {
  gap: 60px;
  margin-bottom: 130px;
}

.flower-plant-section-title {
  font-family: "Noto Serif", serif;
  color: rgb(0, 0, 0);
  font-size: 3.125rem;
  font-weight: 700;
  margin-top: 38px;
}
.flower-plant-section-list {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 27px;
}
.flower-plant-section-list li {
  margin: 20px 0px;
}
.flower-plant-img {
  position: relative;
}
.trusted-badge {
  position: absolute;
  top: -110px;
  left: 350px;
  width: 286px;
  height: 286px;
}
@media screen and (max-width:576px) {
     .nav-links{
        display: none;
     }
     .container{
        max-width: 100%;
        margin: 0;
     }
     .banner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: left;
    margin-top: 60px; 
  }
  .banner-text {
    width: 100%;
    height: auto;
    margin-top: 28px;
    padding: 0px 16px 0px 16px;
  }
  .banner-title {
    font-size: 28px;
    width: 65%;
  }
  .banner-para {
    font-size: 16px;
  }
   .plant-text p {
    width: 100%;
  }
  .plant-text {
    margin-top: 65px;
    margin-bottom: 50px;
    padding-bottom: 80px;
  }
  .container-card {
    grid-template-columns: repeat(2, calc((100% - 20px) / 2));
    gap: 20px;
    padding-left: 10px;
  }
  .card h3 {
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
  }
  .card button {
    padding: 15px 0px;
  } 
  .flower-plant-section {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }
  .flower-store {
    width: 100%;
  }
  .flower-plant-section-title {
    margin-top: 18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
  }
  .flower-plant-section-list li {
    margin: 16px 0px;
  }
  .flower-plant-section-list {
    font-size: 0.875rem;
    line-height: 17px;
  }
  .trusted-badge {
    display: none;
  }
}
  

    
     
  

    
    